@import url(https://fonts.googleapis.com/css?family=Anton);

body
{
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.root-top
{
    display: grid;
    font-family: 'Anton', sans-serif;
    line-height: 1;
    font-size: 3em;
    color: #000;
    justify-content: center;
    align-content: center;
}

.root-mid
{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.root-bot
{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-self: center;
}

#sign-up
{
    justify-self: center;
    align-self: center;
    text-align: center;
}
#or{
    justify-self: center;
    align-self: center;

}
#login{
    justify-self: center;
    align-self: center;

    text-align: center;
}

.about-top{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.about-top > p{
    font-family: 'Anton', sans-serif;
    line-height: 1;
    font-size: 3em;
    color: #000;
}

.about-top > button{
    justify-self: flex-end;
    align-self: center;
}
.about-mid{
    font-size: 1.5em;
    justify-self: center;
    align-self: center;
}

/* This is for the character selection*/

.choose-top{
    display: grid;
    font-family: 'Anton', sans-serif;
    line-height: 1;
    font-size: 3em;
    color: #000;
    justify-content: center;
    align-content: center;
}

.choose-mid{
    display: grid;
    align-content: center; 
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr;

}

#images
{
    display: grid;
    grid-gap: 10px;
    border: 4px solid black;
    grid-row: 1;
    grid-column: 2;
}
#images :nth-child(1){
    grid-column: 1;
}
#images :nth-child(2){
    grid-column: 2;
}
#images :nth-child(3){
    grid-column: 3;
}
#images :nth-child(4){
    grid-column: 4;
}

#description{
    text-align: center; 
    font-family: 'Anton', sans-serif;
    line-height: 1;
    font-size: 1.5em;
    color: #000;   
    grid-column: 2;
    grid-row: 3;
    
}

#icon-name{
    text-align: center; 
    align-self: center;
    font-family: 'Anton', sans-serif;
    line-height: 1;
    font-size: 2em;
    color: darkblue; 
    grid-row: 2;
    grid-column: 2;

}
.fighter-icon{
    cursor: pointer;
    height: 100px;
    width: auto;
}

.choose-bottom{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin: 60px;
}

.background-top
{
    display: grid;
    font-family: 'Anton', sans-serif;
    line-height: 1;
    font-size: 3em;
    color: #000;
    justify-content: center;
    align-content: center;
}

.background-mid
{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}
#backgrounds{
    align-self: center;
}

.background-bottom
{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    margin: 60px;
}
.background{
    height: auto;
    width: 700px;
}

/* ---------------- THIS IS FOR THE FIGHT ---------------*/
.fight-top
{
    display: grid;
    font-family: 'Anton', sans-serif;
    line-height: 1;
    font-size: 3em;
    color: #000;
    justify-content: center;
    align-content: center;
}
.fight-mid
{
    background-size: contain;
    background: no-repeat center;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr 4fr;
}
.fight-bottom
{
    justify-self: center;
}
.fighter-1
{
    display:grid;
    align-content: flex-end;
    justify-content: center;
    text-align: center;
}

.fighter-1-label{
    display: flex;
    justify-content: space-evenly;
    font-family: 'JMH Cthulhumbus Arcade';
    font-size: 2em;
    text-shadow: 2px 3px darkred;
    color: rgb(136, 255, 0);
}
.fighter-1 > img
{
    width: 70%;
    height: auto;
    justify-self:center;
}
.middle-region
{
    text-align: center;
    align-self:center;
}

.middle-text{
    width: 160px;
    height: auto;
}
.fighter-2
{
    display:grid;
    align-content: flex-end;
    justify-content: center;
    text-align: center;
}

.fighter-2-label{
    display: flex;
    justify-content: space-evenly;
    font-family: 'JMH Cthulhumbus Arcade';
    font-size: 2em;
    text-shadow: 3px 2px darkred;
    color: rgb(136, 255, 0);;
}
.fighter-2 > img
{
    transform: scaleX(-1);
    justify-self: center;
    width: 70%;
    height: auto;
}
/* --------------------- END OF FIGHT ----------------------*/
